
/* This is my color scheme------
HEX
#987284
#75b9be
#d0d6b5
#f9b5ac
#ee7674
I hope these look nice together ;) */


html { 
  background: url(images/backgroundimage.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


 

 #container { 
    width: 960px;
    margin: auto;
   font-family: 'Fredoka One', cursive;
}
    


/*Navigation section of layout-------------------------------
---------------------------*/
    
.nav {
    width: 950px;
    color: #ee7674;
    margin-bottom: 0px;
    text-align: center;
    background-color: #;
    
}
.nav li {
    display: inline-block;
    padding: 5px 15px;
    background-color: #f9b5ac;
    }
    
 .nav li a:link, .nav li a:visited  { 
       color: #2A2024;  
       
 }
 .nav li a:hover, .nav li a:active {
        background-color:#75b9be;
 }
     
/*header section of layout-------------------------------
---------------------------*/
.header { 
    padding-top:30px;
    padding-bottom: 95px;
}


/*side section of layout-------------------------------
---------------------------*/

.side { 
    width: 155px;
    height: 1115px;
    float: right;
    background-color: #ee7674;
    padding: 20px; 60px;
}

.side li a:link {
    color:#75b9be;
}

.recipes {
    width: 285px;
    height: 1115px;
    float:right;
    margin-right:10px;
    background-color: #f9b5ac;
    padding: 20px; 60px;
    text-align: left;
 } 
 
 

 #sides { 
    width: 155px;
    height: 1000px;
    float:right;
    margin-right: 20px;
    background-color: #;
    padding: 20px; 60px;
}
    
    
    
/*Main section of layout-------------------------------
---------------------------*/


 .main img {
    float: left;
    width: 350px;
    height: 350px;
    padding: 10px;10px;
    box-shadow: 5px 5px 5px #888888; 
 }
 
 h3 {
    text-align: center;
    margin-top: 15px; 
}

iframe {
    
}

/*div {
    outline: 1px solid black;
}*/
 
 

 
.footer {
    background-color: #987284;
    clear: both;
    width: 960px;
    
}

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
   