/* This is my color scheme------
#c0bda5
#cc978e
#f39c6b
#ff3864
#261447
I hope these look nice together ;) */



#container {
    margin: auto;
    width: 960px;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}


    
/*div {
    outline: 1px solid black;
}*/




.nav {
    width: 950px;
   background-color: #E5E338;
    margin-bottom: 0px;
    text-align: center;
   }
    

.nav li {
    display: inline-block;
    padding:10px 20px;
    text-align: center;
}
    a:hover { 
    color: #EF1D77;
}
    


.header {
    width: 950px;
   height: 160px;
    
   
    margin:auto; 
    background-color: #ffffff;
}
.side {
  
    width: 160px;
    height: 400px;
    margin: 5px;
    background-color: #4EC5C1;
}
/* Main Section of Layout
----------------------------------*/

.main {
     display: inline-block;
     width: 750px;
    height: 400px;
   
   /* clear: right; */
    margin: 5px;
    
    
}

.main img {
       display: inline-block;
       width: 750px;
       height: 400px;
   } 



.footer {
   
    background-color: #000000;
    
}

